#header {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

#footer {
    text-align: center;
    font-size: 10px;
    padding: 10px;
}

.ctn {
    margin-top: 4%;
}

.heading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.card {
    width: 45rem;
}

.error {
    color:red;
    font-size: 13px;
}

.home-btn {
    width: 10rem;
}

.lbl {
    margin-right: 10px;
    text-align: left;
}